/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ... (your existing CSS code) ... */

/* Add styling for the navigation menu */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff9900;
}

/* Add styling for the home button */
nav ul li:first-child {
    margin-right: 0; /* Remove margin-right for the first list item */
}

nav ul li:first-child a {
    padding: 5px 10px;
    border: 1px solid #fff;
    border-radius: 5px;
}

/* ... (the rest of your CSS code) ... */

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #B0E57C;
}

/* Header styles */
header {
    background-color: #B0E57C;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* About section styles */
.about {
    display: flex;
    align-items: center;
    padding: 50px;
    color: #333;
    width: 100%;
}

.about-content {
    flex: 1;
    padding: 0 20px;
}



.about h2 {
    font-size: 31px;
    margin-bottom: 10px;
}

.about p {
    font-size: 16px;
    margin-bottom: 15px;
}

.about img {
    max-width: 54%;
    border-radius: 10px;
}

/* Team section styles */
.team {
    padding: 50px;
    text-align: center;
}

.team h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.team-member {
    margin-top: 30px;
}

.team-member img {
    max-width: 100px;
    border-radius: 50%;
}

.team-member h4 {
    font-size: 18px;
    margin-top: 10px;
}

.team-member p {
    font-size: 14px;
    color: #666;
}

/* Social media section styles */
.social-media {
    background-color: #B0E57C;
    padding: 50px;
    text-align: center;
}

.social-links {
    margin-top: 20px;
}

.social-links a {
    margin: 0 10px;
}

/* Footer styles */
footer {
    background-color: #B0E57C;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}


.hidden-content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 125%;
    height: 110%;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    overflow: visible;
    z-index: 1;
}

.content:hover .hidden-content {
    opacity: 1;
    visibility: visible;
}